In [22]:
import pandas as pd
import re
import csv

In [23]:
data_lines = []
with open("YouTubeTrailerComments.txt") as f:
    lines = f.readlines()
    id = 0
    for line in lines:
        if line.startswith('MovieID::::'):
            id = int(line.replace('MovieID::::', ''))
        elif re.match('^\d+(\s\d+){4}$', line) != None:
            data_lines.append(f"{id},{line.replace(' ',',')}")

In [28]:
reader = csv.reader(data_lines)
parsed_csv = list(reader)

In [32]:
df = pd.DataFrame(parsed_csv, columns = ['id','vc','lc','dc','fc','cc'])

In [33]:
df

       id      vc    lc  dc fc   cc
0       1  128238   170   7  0    7
1       2  155561   135  14  0   74
2       3    2532     7   2  0    1
3       4    6827     9   1  0    0
4       5  330807   374  16  0  121
..    ...     ...   ...  .. ..  ...
978   996  252661  1080  32  0  111
979   997    5887    19   2  0    0
980   998    5755    10   1  0    0
981   999    6635    19   1  0    0
982  1000   27204    10   4  0    2

[983 rows x 6 columns]